
<div class="page-homepage template-homepage section-homepage environment-live">
  <div id="container">
    <div id="primary-content" role="main">
      <div id="unit-gant-content" class="unit">
        <header id="header">
          <h1>placeGant</h1>
        </header>

        <p title="For when you need more Gant."><strong>A service for pictures of Gant, Master of the Universe, for use as placeholders in your designs or code.</strong> Just put your desired image size (width <span class="amp">&amp;</span> height) after this URL and you'll get a placeholder Gant.</p>

        <p class="links">
          Like this: <a href="/200/300">http://placegant.me/pg/200/300</a>
        </p>

        <img id="image-0" src="<%= asset_path('home/gant408_287.jpg') %>" alt="Gant Laborde is the Master of the Universe">
      </div>

      <div id="unit-many-many-gants" class="unit">
        <img id="image-1" src="<%= asset_path('home/gant200_287.jpg') %>" alt="Gant Laborde is smart">
        <img id="image-2" src="<%= asset_path('home/gant200_140.jpg') %>" alt="Gant Laborde likes to talk">
        <img id="image-3" src="<%= asset_path('home/gant200_139.jpg') %>" alt="Gant Laborde is super nice">
        <img id="image-4" src="<%= asset_path('home/gant200_286.jpg') %>" alt="Gant Laborde is handsome">
        <img id="image-5" src="<%= asset_path('home/gant96_140.jpg') %>" alt="Gant Laborde is generous">
        <img id="image-6" src="<%= asset_path('home/gant96_139.jpg') %>" alt="Gant Laborde is awesome">
        <img id="image-7" src="<%= asset_path('home/gant200_138.jpg') %>" alt="Gant Laborde has great hair">
      </div> <!-- "unit-many-many-gants" -->
    </div> <!-- "primary-content" -->
  </div> <!-- "container" -->
</div> <!-- end of body content -->